#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "zwave-js-ui"
name = "Zwave-JS-UI"
description.en = "Full featured Z-Wave Control Panel and MQTT Gateway integrated with domoticz"
description.fr = "Panneau de controle Z-Wave et MQTT intégré avec Domoticz"

version = "10.1.2~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "MIT"
website = "https://zwave-js.github.io/zwave-js-ui/#/"
admindoc = "https://zwave-js.github.io/zwave-js-ui/#/"
userdoc = "https://www.domoticz.com/wiki/Zwave-JS-UI"
code = "https://github.com/zwave-js/zwave-js-ui"
fund = "https://liberapay.com/robertsLando/donate"

[integration]
yunohost = ">= 11.2.29"
helpers_version = "2.1"
architectures = [ "amd64", "armhf", "arm64" ]
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "350M"
ram.build = "200M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/zwavejsui"

    [install.init_main_permission]
    help.en = "If set public, anyone can access the app without login in YunoHost, you activate password protected login from within the app"
    help.fr = "Si publique, N'importe qui peut accéder à l'application sans se connecter à YunoHost, vous pouvez cependant activer une connection par mot de passe depuis l'application"
    type = "group"
    default = "all_users"

[resources]

    [resources.sources.main]
    arm64.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.1.2/zwave-js-ui-v10.1.2-linux-arm64.zip"
    arm64.sha256 = "06a83aff78268105681d2543f7fd686961a5b5ad5ffbccd9be64990c1d16ec2c"
    armhf.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.1.2/zwave-js-ui-v10.1.2-linux-armv7.zip"
    armhf.sha256 = "58ace9913eacb3f5266965cd9444eb885f5a2985b0c4513b8c4e692ed1a53c30"
    amd64.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.1.2/zwave-js-ui-v10.1.2-linux.zip"
    amd64.sha256 = "98d24709e16bcc86055214d9676fb59d380ce700966cad23245209a710d8c415"
    in_subdir = false

    autoupdate.strategy = "latest_github_release"

    autoupdate.asset.arm64 = ".*-arm64.zip"
    autoupdate.asset.amd64 = ".*-linux.zip"
    autoupdate.asset.armhf = ".*-armv7.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8091
