#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "zwave-js-ui"
name = "Zwave-JS-UI"
description.en = "Full featured Z-Wave Control Panel and MQTT Gateway integrated with domoticz"
description.fr = "Panneau de controle Z-Wave et MQTT intégré avec Domoticz"

version = "10.4.2~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "MIT"
website = "https://zwave-js.github.io/zwave-js-ui/#/"
admindoc = "https://zwave-js.github.io/zwave-js-ui/#/"
userdoc = "https://www.domoticz.com/wiki/Zwave-JS-UI"
code = "https://github.com/zwave-js/zwave-js-ui"
fund = "https://liberapay.com/robertsLando/donate"

[integration]
yunohost = ">= 11.2.29"
helpers_version = "2.1"
architectures = [ "amd64", "armhf", "arm64" ]
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "350M"
ram.build = "200M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/zwavejsui"

    [install.init_main_permission]
    help.en = "If set public, anyone can access the app without login in YunoHost, you activate password protected login from within the app"
    help.fr = "Si publique, N'importe qui peut accéder à l'application sans se connecter à YunoHost, vous pouvez cependant activer une connection par mot de passe depuis l'application"
    type = "group"
    default = "all_users"

[resources]

    [resources.sources.main]
    arm64.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.4.2/zwave-js-ui-v10.4.2-linux-arm64.zip"
    arm64.sha256 = "085c46ecb6cf61562a1322e86d77ea15b5f1ce49df4e030481ccebdfe5cec62a"
    armhf.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.4.2/zwave-js-ui-v10.4.2-linux-armv7.zip"
    armhf.sha256 = "cc2606e755f0eca09897e23425e985d216a957d160be10cefd13c7d8e32a1701"
    amd64.url = "https://github.com/zwave-js/zwave-js-ui/releases/download/v10.4.2/zwave-js-ui-v10.4.2-linux.zip"
    amd64.sha256 = "b0e6cf2513ab2ab28459d02c4e3f6314d0df38253d241b12daa74154d3d850b7"
    in_subdir = false

    autoupdate.strategy = "latest_github_release"

    autoupdate.asset.arm64 = ".*-arm64.zip"
    autoupdate.asset.amd64 = ".*-linux.zip"
    autoupdate.asset.armhf = ".*-armv7.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8091
